@tailwind base;

@tailwind components;

@tailwind utilities;

@layer utilities {
  .TheShadow {
    box-shadow: 6px 6px 0px -1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 6px 6px 0px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 6px 6px 0px -1px rgba(0, 0, 0, 0.75);
  }
}
